
.image-show{
    display: flex;
    justify-content: center;
}

.image-show img{
    max-height: 350px;
    width: auto;
}
.info{
    margin-top: 20px;
}
.info tbody, td, tfoot, th, thead, tr {
    text-align: center;
}

.candidates{
    display: flex;
    justify-content: center;
    gap: 25px;
    border: 1px solid black;
    padding: 20px 0;
    background-color: #D3D3D4;
}

.vote-candidate{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .candidates {
      flex-direction: column;
      align-items: center;
    }
}


